.input-text {
  text-align: center;
  line-height: 2em;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 0 5px;
  font-style: italic;
  font-weight: bold;
}

.field {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  font-size: 16px;
  font-weight: 600;
}

.i-field {
  display: flex;
  justify-content: flex-start;
}

input[type=number] {
  appearance: none;
}

.info {
  border: 2px solid gray;
  border-radius: 5px;
}

.i_50 {
  margin: 0 auto;
  justify-content: center;
}

label {
  font-weight: bold;
}

.title {
  padding: 1em;
  width: 100%;
  text-align: center;
  background: #000000;
  color: white;
  text-shadow: 3px 5px 3px blue;
}

form {
  padding: 2em;
  border: 2px solid gray;
  border-radius: 5px;
}